.amp-pwa-sec{width:100%; float:left; padding: 40px 0;}
.amp-pwa-title{text-align: center; margin-bottom: 25px; text-transform: uppercase; color: #03A9F5;}
.amp-pwa-sec-inner{padding: 0 10%;}
.amp-pwa-sec .i-amphtml-accordion-header{padding: 14px 20px; background-color: #03A9F5; color: #fff;}
.amp-pwa-sec section{margin-bottom: 10px;}
.amp-pwa-info-sec{padding: 10px; border: 1px solid #03A9F5; border-top: none; font-size: 15px;}
.nested-accordion{padding: 10px;}